{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 5%", "edge >= 14"],
          "node": "4.1.1"
        },
        "debug": false
      }
    ]
  ]
}
